<h1>Options</h1>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.watching() }} 		{{ form.watching.label }}		<br>
		{{ form.completed() }} 		{{ form.completed.label }}		<br>
		{{ form.onhold() }} 		{{ form.onhold.label }}			<br>
		{{ form.dropped() }} 		{{ form.dropped.label }}		<br>
		{{ form.plantowatch() }}	{{ form.plantowatch.label }}	<br>
	</p>
	<p>
		{{ form.tv() }}			{{ form.tv.label }}			<br>
		{{ form.movie() }}		{{ form.movie.label }}		<br>
		{{ form.special() }}	{{ form.special.label }}	<br>
		{{ form.ova() }}		{{ form.ova.label }}		<br>
		{{ form.ona() }}		{{ form.ona.label }}		<br>
	</p>
	<p>
		{% for error in form.submit.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>