{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block app_content %}
	<!--{% include '_options.html' %}-->

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				{% with anime = anime1 %}
					{% include '_animePoster.html' %}
				{% endwith %}
			</div>
			<div class="col-sm-1">
				<h1 class="text-center">VS</h1>
			</div>
			<div class="col-sm-4">
				{% with anime = anime2 %}
					{% include '_animePoster.html' %}
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}